# Financial Time Series

<br>
<div style="text-align: justify">
Financial time series data is one of the most important types of data in finance. This
is data indexed by date and/or time. For example, prices of stocks over time represent
financial time series data. Similarly, the EUR/USD exchange rate over time represents
a financial time series; the exchange rate is quoted in brief intervals of time, and a
collection of such quotes then is a time series of exchange rates
</div>

## Table of contents

- **Financial Data**
    + This section is about the basics of working with financial times series data using pandas:
- **Rolling Statistics**
    + Rolling Statistics (Thống kê trượt) is a concept in statistics and data analysis, typically used to assess the trends and variability of data over time.
- **Correlation Analysis**
- **High-Frequency Data**

## Financial Data
This section works with a locally stored financial data set in the form of a CSV file, we have created by *CryptoData.py*, we will introduce later. However, for now we have the *output_data.csv*, which contains all the information of Bitcoin Time Series Dataset from **alphavantage.co**.

### Data Import

#### Initialization

In [15]:
from CryptoData import CryptoData
import numpy as np
import matplotlib as mpl
import pandas as pd
import datetime

#### Dataset

In [17]:
BTC = CryptoData("BTC")
df = BTC.df
df.head()


file_path = 'output_data.csv'

# Save the DataFrame to a CSV file
df.to_csv(file_path, index=True)

print(f'DataFrame saved to {file_path}')

DataFrame saved to output_data.csv

In [27]:
# Specify the path to your CSV file
file_path = 'output_data.csv'

# Read the CSV file into a DataFrame
data = pd.read_csv(file_path)

# Display the DataFrame
data.head()

,date,open,high,low,close,volume,cap
0,2021-04-27,54001.38,55460.00,53222.00,55011.97,54064.034675,54064.034675
1,2021-04-28,55011.97,56428.00,53813.16,54846.22,55130.459015,55130.459015
2,2021-04-29,54846.23,55195.84,52330.94,53555.00,52486.019455,52486.019455
3,2021-04-30,53555.00,57963.00,53013.01,57694.27,68578.910045,68578.910045
4,2021-05-01,57697.25,58458.07,56956.14,57800.37,42600.351836,42600.351836

In [19]:
data.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
open,1000.0,33484.85,11875.07,15781.29,23545.57,30287.08,42209.24,67525.82
high,1000.0,34253.03,12205.25,16315.00,24219.43,30743.66,43079.82,69000.00
low,1000.0,32634.53,11470.09,15476.00,23109.97,29713.68,41250.50,66222.40
close,1000.0,33472.60,11860.27,15781.29,23545.57,30287.08,42202.81,67525.83
volume,1000.0,106766.33,114128.91,611.24,35999.76,55221.59,139773.34,760705.36
cap,1000.0,106766.33,114128.91,611.24,35999.76,55221.59,139773.34,760705.36

#### Resampling

- Resampling is an important operation on financial time series data. Usually this takes the form of **downsampling**.
- For example: a tick data series is resampled to one-minute intervals or a time series with daily observations is resampled to one with weekly or monthly observations.

In [31]:
data.date = pd.to_datetime(data.date)
data.set_index('date', inplace=True)

In [33]:
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [38]:
data.resample('1w', label='right').last().head()

,open,high,low,close,volume,cap
date,,,,,,
2021-05-02,57797.35,57911.02,56035.25,56578.21,36812.878863,36812.878863
2021-05-09,58866.53,59300.00,56235.66,58240.84,69806.119910,69806.119910
2021-05-16,46762.99,49795.89,43825.39,46431.50,114269.812775,114269.812775
2021-05-23,37458.51,38270.64,31111.01,34655.25,217136.046593,217136.046593
2021-05-30,34605.15,36488.00,33379.00,35641.27,73535.386967,73535.386967